<mat-toolbar color="primary">
    <span>Minha Conta</span>
</mat-toolbar>

<section class="saldo">
    <h4>Saldo: {{saldo | currency:'R$ ':'symbol'}}</h4>
</section>


<section>

    <mat-tab-group animationDuration="500ms">
        <mat-tab label="Entradas">
            <div class="movimentacoes">
                <app-movimentacao class="entrada" *ngFor="let entrada of entradas" [movimentacao]="entrada">
                </app-movimentacao>
            </div>
        </mat-tab>
        <mat-tab label="Saídas">
            <div class="movimentacoes">
                <app-movimentacao class="saida" *ngFor="let saida of saidas" [movimentacao]="saida">
                </app-movimentacao>
            </div>
        </mat-tab>
    </mat-tab-group>

</section>