.movimentacoes{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.entrada,
.saida {
    margin: 5px;
}

.saldo{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}